.cardBody {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin-bottom: 5px;
  height: 37rem;
}
.cardTexBoxs {
  margin: 0px;
}
.viewDetailsButton {
  margin: 10px;
}
.cardBodyProdct {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin: 15px;
}
.cardImageProdct {
  height: 700px;
  object-fit: cover;
}
.cardImage {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
  .cardBody {
    width: 100%;
  }
}
