.cardBody {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin-bottom: 2px;
  height: 100%;
}
.cardTexBoxs {
  margin: -5px;
}

.viewDetailsButton {
  margin: 10px;
}
.cardBodyProdct {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin: 10px;
}
.cardImageProdct {
  height: 700px;
  object-fit: cover;
}
.cardImage {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
}
