.cartBanner {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 54vh;
  margin-bottom: 15px;
}

.cartTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.cartDescription {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cartButton {
  font-size: 1.2rem;
}
