.carticon {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.777);
  position: relative;
}

.badge {
  background-color: rgb(73, 182, 0);
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  position: absolute;
  top: -0.5em;
  right: -0.3em;
}
