/* Info: 
/* Add this to the rait CSS moduel */

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.card-image-prodct {
  height: 700px;
  object-fit: cover;
}

.cart-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  position: relative;
}

.badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  position: absolute;
  top: -0.2em;
  right: -0.2em;
}
