.container {
  margin: 2rem;
}

.dataContainer {
  margin: 2px;
  border: 2px red solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.imageContainer {
  margin: 2px;
  border: 2px red solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.txtContainer {
  margin-top: 30px;
  width: 100%;
}
